# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# Frontend environment files
frontend/.env
frontend/.env.local
frontend/.env.*.local


# =========================
# Backend
# =========================
backend/target/

# Python virtual environment
backend/.venv/
backend/venv/

# Backend environment files
backend/.env
backend/.env.local


# =========================
# FastAPI Backend
# =========================
backend_fastapi/.venv/
backend_fastapi/venv/

backend_fastapi/__pycache__/
backend_fastapi/**/__pycache__/

backend_fastapi/.pytest_cache/

backend_fastapi/.env
backend_fastapi/.env.local


# =========================
# Python
# =========================
**/__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local


# =========================
# Build folders
# =========================
dist/
build/


# =========================
# OS
# =========================
.DS_Store
Thumbs.db