# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
backend/target/
backend/.mvn/wrapper/
backend/mvnw
backend/mvnw.cmd
backend/help.md

# FastAPI Backend
backend_fastapi/.env
backend_fastapi/.venv
backend_fastapi/__pycache__/
backend_fastapi/app/__pycache__/
backend_fastapi/app/routes/__pycache__/
backend_fastapi/app/models/__pycache__/
backend_fastapi/app/services/__pycache__/
backend_fastapi/.pytest_cache

.DS_Store